@model IEnumerable<WebApplication7.Models.UnCheckedCar>

@{
    ViewBag.Title = "Cars Not Checked Out";
    //ViewBag.SortOrder //
    var headertext = "Cars Not Checked Out at All Locations";
    if (ViewBag.LocationCode != null)
    {
        if (ViewBag.LocationCode != "")
        {
            headertext = "Cars Not Checked Out at Location: " + ViewBag.LocationCode;
        }
    }

}
<link href="~/Content/tableStyle.css" rel="stylesheet" type="text/css" sizes="">

<h2 style="margin-left:11%">@headertext</h2>

<form action="Index" style="align-self:center">
    <select id="SelectLocation" onchange="goToNewPage()">
        <option value="~/UnCheckedCars/Index"></option>
        <option value="~/UnCheckedCars/Index">ALL</option>
        <option value="~/UnCheckedCars/Index?ploc=CDO">CDO</option>
        <option value="~/UnCheckedCars/Index?ploc=CJE">CJE</option>
        <option value="~/UnCheckedCars/Index?ploc=CJN">CJN</option>
        <option value="~/UnCheckedCars/Index?ploc=FAM">FAM</option>
        <option value="~/UnCheckedCars/Index?ploc=FBS">FBS</option>
        <option value="~/UnCheckedCars/Index?ploc=FCG">FCG</option>
        <option value="~/UnCheckedCars/Index?ploc=FHG">FHG</option>
        <option value="~/UnCheckedCars/Index?ploc=FHT">FHT</option>
        <option value="~/UnCheckedCars/Index?ploc=FLP">FLP</option>
        <option value="~/UnCheckedCars/Index?ploc=FMM">FMM</option>
        <option value="~/UnCheckedCars/Index?ploc=FOC">FOC</option>
        <option value="~/UnCheckedCars/Index?ploc=FSS">FSS</option>
        <option value="~/UnCheckedCars/Index?ploc=FTO">FTO</option>
        <option value="~/UnCheckedCars/Index?ploc=FTN">FTN</option>
        <option value="~/UnCheckedCars/Index?ploc=LFO">LFO</option>
        <option value="~/UnCheckedCars/Index?ploc=LFT">LFT</option>
        <option value="~/UnCheckedCars/Index?ploc=LFM">LFM</option>
        <option value="~/UnCheckedCars/Index?ploc=WDC">WDC</option>
    </select>
</form>

<table class="table" style="margin-left: 11%; width: 85%; margin-bottom: 0px">
    <thead class="thead" id="mainreportheaders">

        <tr>

            <th>
                @{ if (ViewBag.SortOrder != "Year_Descending")
                    {
                        @Html.ActionLink("Year", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Year_Descending" })
                    }
                    else
                    {
                        @Html.ActionLink("Year", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Year" })
                    }
                }
            </th>
            <th>
                @{ if (ViewBag.SortOrder != "Make_Descending")
                    {
                        @Html.ActionLink("Make", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Make_Descending" })
                    }
                    else
                    {
                        @Html.ActionLink("Make", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Make" })
                    }
                }
            </th>
            <th>
                @{ if (ViewBag.SortOrder != "Model_Descending")
                    {
                        @Html.ActionLink("Model", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Model_Descending" })
                    }
                    else
                    {
                        @Html.ActionLink("Model", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Model" })
                    }
                }
            </th>
            <th>
                @{ if (ViewBag.SortOrder != "StockNum_Descending")
                    {
                        @Html.ActionLink("Stock#", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "StockNum_Descending" })
                    }
                    else
                    {
                        @Html.ActionLink("Stock#", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "StockNum" })
                    }
                }
            </th>
            <th>
                @{ if (ViewBag.SortOrder != "VIN_Descending")
                    {
                        @Html.ActionLink("VIN", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "VIN_Descending" })
                    }
                    else
                    {
                        @Html.ActionLink("VIN", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "VIN" })
                    }
                }
            </th>
            <th>
                @{ if (ViewBag.SortOrder != "Location_Descending")
                    {
                        @Html.ActionLink("Location", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Location_Descending" })
                    }
                    else
                    {
                        @Html.ActionLink("Location", "Index", new { ploc = ViewBag.LocationCode, sortOrder = "Location" })
                    }
                }
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDataValue3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDataValue4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDataValue5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDataValue6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDataValue7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loc)
            </td>
        </tr>
    }

</table>

@Scripts.Render("~/Scripts/Index.js")
